<div class="body-content">
    <div class="auth-page">
        <div class="auth__login">
            <a class="auth__login-btn" href="/auth/login">Log in</a>
        </div>
        <div class="auth__register">
            <a class="auth__register-btn" href="/auth/register">Register</a>
        </div>
    </div>
</div>