<div class="body-content">
    <div class="login">
        {{#if error.length}}
        {{#each error}}
        <p class="alert error">{{this}}</p>
        {{/each}}
        {{/if}}

        {{#if success.length}}
        {{#each success}}
        <p class="alert success">{{this}}</p>
        {{/each}}
        {{/if}}

        <form action="/auth/login" method="POST">
            <label for="email">Email:</label><br>
            <input id="email" name='email' class="login__email" maxlength="70" required></input><br>
            <label for="password">Password:</label><br>
            <input id="password" name='password' class="login__password" maxlength="70" required></input><br>
            <input name="_csrf" type="hidden" value="{{csrf}}">

            <button type="submit" class="login__btn">Log in</button>
        </form>
        <div class="login__password-restore">
            <a href="/auth/password-reset">I forgot my password</a>
        </div>
    </div>
</div>