<div class="body-content">
    {{#if error}}
    <p class="alert error">{{error}}</p>
    {{/if}}
    <div class="restore-password-page">
        <form action="/auth/password-reset" method="POST">
            <label for="email">Enter your email: </label>
            <input type="email" name="email" id="email" maxlength="70" required>
            <input name="_csrf" type="hidden" value="{{csrf}}">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>