<div class="body-content">
    <div class="register">
        {{#if error.length}}
        {{#each error}}
        <p class="alert error">{{this}}</p>
        {{/each}}
        {{/if}}

        {{#if success.length}}
        {{#each success}}
        <p class="alert success">{{this}}</p>
        {{/each}}
        {{/if}}

        <form action="/auth/register" method="POST">
            <label for="email">Email:</label><br>
            <input id="email" name='email' class="register__email" maxlength="70" required></input><br>
            <label for="password">Password:</label><br>
            <input id="password" name='password' class="register__password" maxlength="70" required></input><br>
            <label for="name">Name:</label><br>
            <input id="name" name='name' class="register__name" maxlength="70" required></input><br>
            <input name="_csrf" type="hidden" value="{{csrf}}">

            <button type="submit" class="register__btn">Register</button>
        </form>
    </div>
</div>