{{> head }}
<body>
<div class="main-container">
    <header class="header">
        <div class="header__logo"><h1>Edward's blog</h1></div>
        <div class="header__navigation">
            <a href="/">Home</a>
            <a href="/topics">Topics</a>
            <a href="/contact-me">Contact</a>
        </div>
    </header>

    <div class="body-container">
        {{> sidebar }}

        {{{ body }}}
    </div>

    <div class="footer-container">
        {{> footer }}
    </div>
</div>
</body>
</html>
