<h1>Add a new article</h1>

  <div class="row">
    <form action='/article/add' method="POST">
      <div class="row">
        <div class="input-field">
          <textarea id="title" name='title' class="add_article" required></textarea>
          <textarea id="text" name='text' class="add_article" required></textarea>
        </div>

        <button class="btn add_article">Publish the article</button>
      </div>
    </form>
  </div>