        <div class="post">
            <div class="post__title"><h1>Test article</h1></div>
            <div class="post__post-date">february 14th, 2021</div>
            <div class="post__full">
                <article>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    </p>
                    <p>
                        In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    </p>
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncusю.
                    </p>
                    <p>
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    </p>
                    <p>
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.
                    </p>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Sed pharetra lectus sit amet neque imperdiet, ut varius nulla rhoncus.
                    In dolor urna, pellentesque at suscipit sed, convallis ac eros. Curabitur ut lacus eget enim elementum feugiat quis ac neque.
                    Quisque volutpat condimentum lacus malesuada laoreet. In blandit ligula turpis, in lobortis velit semper vel.
                    Integer tristique, lectus id luctus efficitur, velit massa mollis eros, at ullamcorper nisl diam vitae odio.
                    Nam ultrices, erat eu aliquam laoreet, risus tellus tincidunt mauris, a pharetra nisi urna at magna.
                    scelerisque mi eu dui faucibus euismod.
                    </p>
                </article>
            </div>
        </div>
    </div>