        {{#if articleComments.length}}
        {{#each articleComments}}
        <div class="comment">
            <div class="comments__user"><p>{{user.email}}, <strong>{{user.name}}</strong> says:</p></div>
            <div class="comments__text"><p>{{text}}</p></div>
        </div>
        {{/each}}
        {{else}}
        <div class="body-content">
            <h1>There is no comments yet.</h1>
        </div>
        {{/if}}