        <div class="post">
            <div class="post__title"><h1>{{article.title}}</h1></div>
            <div class="post__post-date">{{article.visible_date}}</div>
            <div class="post__full">
                <article>
                    {{article.text}}
                </article>
            </div>
        </div>