<div class="body-content">
    <div class="login">
        <form action="/login/signin" method="POST">
            <input id="email" name='email' class="login__email" value="" required></input>
            <input id="password" name='password' class="login__password" value="" required></input>

            <button type="submit">Login</button>
        </form>
    </div>
</div>