<div class="body-content">
    <div class="register">
        <form action="/login/register" method="POST">
            <input id="email" name='email' class="register__email" value="" required></input>
            <input id="password" name='password' class="register__password" value="" required></input>
            <input id="name" name='name' class="register__name" value="" required></input>

            <button type="submit">Register</button>
        </form>
    </div>
</div>