/* Header */
header {
    border-bottom: 2px solid black;
    height: 150px;
    max-height: 10000px;

    display: flex;
    background-color: purple;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color: white;

    padding: 10px;
    margin-left: 20px;
    align-self: flex-start;
}

.header__navigation {
    margin-bottom: 5px;
}

.header__navigation a {
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Oxygen', sans-serif;

    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
}

.header__navigation a:hover {
    color: purple;
    background-color: white;
}

.header__navigation a:nth-child(3) {
    display: none; /* We don't display "Contact me" link on full-size screens */
}
