/*
1. General
2. Header
3. Left-side block
4. Middle block
5. Footer
6. Article page
7. Comments section
8. Auth page 
9. Adaptive design start
*/


/* 1.General */
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, body, p {
    margin: 0;
}

.main-container {
    max-width: 1200px;
    max-height: 100000px;
    margin: 0 auto;

    font-family: 'Oxygen', sans-serif;
    color: midnightblue;
}

a {
    text-decoration: none;
    color: midnightblue;
}

/*2. Header */
header {
    border-bottom: 2px solid black;
    height: 150px;
    max-height: 10000px;

    display: flex;
    background-color: purple;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color: white;

    padding: 10px;
    margin-left: 20px;
    align-self: flex-start;
}

.header__navigation {
    margin-bottom: 5px;
}

.header__navigation a {
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Oxygen', sans-serif;

    padding-left: 5px;
    padding-right: 5px;
    margin-right: 20px;
}

.header__navigation a:hover {
    color: purple;
    background-color: white;
}

.header__navigation a:nth-child(3) {
    display: none; /* We don't display "Contact me" link on full-size screens */
}

/* 3. Left-side block*/
.left-side-block {
    float: left;
    max-width: 20%;
    max-height: 100%;
    padding: 20px;
}

#left-side-block__profile-logo {
    width: 200px;
    max-width: 100%;
    border-radius: 100px;
}

.left-side-block__user-name {
    text-align: center;
    margin: 10px;

    font-size: 20px;
    font-weight: bold;
}

.left-side-block__speciality {
    text-align: center;
    margin: 10px;

    font-size: 16px;
    font-weight: 700;
}

.left-side-block__media-buttons {
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.left-side-block__telegram {
    fill: #60b5ff;
}

.left-side-block__linkedin {
    fill: #0a66c2
}

/* 4. Middle body */
.body-container {
    max-height: 100%;
}

.body-content {
    float: left;
    max-width: 80%;
    padding: 20px;
}

article {
    font-size: 18px;
}

.article {
    margin-bottom: 30px;
    position: relative;
}

.article__additional-info {
    margin: 10px 0 10px 0;
}

.article__post-date {
    font-size: 15px;
    float: left;
}

.article__preview {
    margin-bottom: 20px;
}

.article__like-button, .article__comment-button, .article__dislike-button {
    margin-left: 5px;
    margin-right: 5px;

    text-decoration: none;
}

.article__rates, .article__more-button {
    display: flex;
    justify-content: flex-end;
}

/* 5. Footer*/
.footer-container {
    float: left;
    width: 1200px;
    max-width: 100%;
    height: 30px;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid gray;
}

.footer-container__footer {
    padding: 10px;

    font-size: 14px;
}


/* 6. Article page */
.post {
    float: left;
    max-width: 80%;
    padding: 20px 10px 20px 10px;
}

.post__post-date {
    font-size: 15px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.post__admin-operations {
    margin-top: 10px;
}

.post__admin-operations__edit-btn {
    text-align: center;
    border: 1px solid gray;
}

.post__full__buttons {
    margin: 10px;

    display: flex;
    text-decoration: none;
    justify-content: right;
}

.post__full__buttons > a{
    margin: 0 10px 0 10px;
}

/* 7. Comments section */

.comments__section-title {
    margin-top: 15px;
    border-top: 1px solid lightgray;
    padding-top: 10px;
}

.comment {
    max-width: 80%;
    padding: 10px;
    padding-left: 10px;
}

.comment__date {
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.comment__text {
    /* display: flex; */
    text-align: left;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 1px solid gray;
}

.post-new-comment h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p.comments__no-comments {
    margin-top: 20px
}

.comments .post-new-comment {
    border-top: 1px solid gray;
    max-width: 80%;
    padding-left: 10px;
    margin-top: 20px;
}

.post-new-comment__username {

}

.post-new-comment__text {

}

.comments.not-authorized {
    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top: 20px;
}

.comments.not-authorized p {
    margin-bottom: 20px;
}

.comments__login-btn {
    border: 1px solid black;
    background-color: gainsboro;
    padding: 5px;
}

/* 8. Auth page */

.auth__register {
    margin: 10px 10px 10px 10px;
    padding: 5px;
    border: 1px solid gray;
}

.auth__login {
    margin: 0px 10px 10px 10px;
    padding: 5px;
    border: 1px solid gray;
}

.login__password-restore {
    margin-top: 10px;
    font-size: 14px;
}

.register__btn {
    margin-top: 10px;
}

.login__btn {
    margin-top: 10px;
}

.alert.success {
    margin: 0 0 15px;
    border: 1px solid #37e437;
    padding: 5px;
    background-color: #a8f1a8;
}

.alert.error {
    margin: 0 0 15px;
    border: 1px solid #f17878;
    padding: 5px;
    background-color: #f5a5a5;
}

/* 9. Adaptive design start */
@media (max-width: 1200px) {
    .main-container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .main-container {
        max-width: 750px;
    }

    .header__logo {
        font-size: 28px;
    }

    .left-side-block__media-buttons {
        justify-content: space-between;
        padding-right: 5px;
        padding-left: 5px;
    }
}

@media (max-width: 767px) {
    .main-container {
        max-width: none;
    }

    .header__logo {
        font-size: 20px;

        margin: 0 auto;
     }

    .header__navigation a:nth-child(3) {
        display: inline;
    }

    .left-side-block {
        display: none;
    }

    .body-content {
        max-width: 100%;
    }

    header {
        flex-direction: column;
    }

    .header__navigation {
        margin: 0 auto 5px;
    }

    .header__navigation a {
        margin-right: 2px;
        margin-left: 2px;
        
        font-family: 'Oxygen', sans-serif;
        font-size: 20px;
    }

    .post {
        max-width: 100%;
    }
}

/* 10. 404 page */

.page_404__to-the-main {
    color: blue;
    text-decoration: underline;
}

/* 11. 500's page */

.page_500 p {
    margin: 10px 0 10px 0;
}

/* 12. Contact me page */

.contact-me p {
    margin: 10px 0 10px 0;
}


.contact-me__media-buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.contact-me__telegram {
    fill: #60b5ff;
}

.contact-me__linkedin {
    fill: #0a66c2
}

.contact-me__instagram {
    fill: #e437b0
}

.contact-me__facebook {
    fill: #4267B2
}