/* Left-side block*/
.left-side-block {
    float: left;
    max-width: 20%;
    max-height: 100%;
    padding: 20px;
}

#left-side-block__profile-logo {
    width: 200px;
    max-width: 100%;
    border-radius: 100px;
}

.left-side-block__user-name {
    text-align: center;
    margin: 10px;

    font-size: 20px;
    font-weight: bold;
}

.left-side-block__speciality {
    text-align: center;
    margin: 10px;

    font-size: 16px;
    font-weight: 700;
}

.left-side-block__media-buttons {
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.left-side-block__telegram {
    fill: #60b5ff;
}

.left-side-block__linkedin {
    fill: #0a66c2
}
