<div class="body-content">
    <div class="page_404">
        <h1>Nothing to see in here</h1>
        <p>There is no such page on the server. Check your URL and try again.</p>
        <a href="/" class="page_404__to-the-main">Or get back to the main page</a>
    </div>
</div>