<div class="body-content">
    <div class="page_500">
        <h1>Unexpected error occured</h1>
        <p>I'm really sorry that you facing with this problem. I'm already working on it. In case if you interested when the site is going to work feel free to text me out.</p>
    </div>
</div>